/* 01 h1 nella sezione hero */
.jumbotron h1 {
    background-color: red;
}

/* 02 tutti i figli dell'elemento navbar */
nav * {
    background-color: red;
}

/* 3 link 'continua a leggere nel jumbotron */
.jumbotron a {
    color: red;
}

/* 4 il primo blog post */ 
h3 + .blog-post {
    background-color: cyan;
}

/* 5 l'<hr> del primo blog post e colorarlo di rosso */
h3 + .blog-post hr {
    background-color: red;
}

/* 6 i link pari della navbar */
nav span:nth-child(even) {
    color: green;
}

/* 7 tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */
aside div:nth-child(2) > ol li {
    background-color: pink;
}

/* 8 l'autore del secondo blog post */
.blog-post:nth-of-type(2) .blog-post-meta a{
    background-color: aquamarine;
}

/* 9 il secondo <li> della lista del terzo blog post */
.blog-post:nth-of-type(3) li:nth-child(2) {
    background-color: orange;
}

/* 10 il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */
footer ~ a {
    color: fuchsia;
}
/* 11 il bottone "Nuovi" che trovi in basso */
.btn.disabled {
    background-color: yellow;
}

/* 12 il secondo link del footer */
footer a:nth-child(2) {
    background-color: greenyellow;
}