@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-background: #141414;
    --text-primary: #fcfcfc;
    --text-secondary: #848484;
}

* {
    font-family: 'Inter', serif;
}

.text-color {
    color: var(--text-primary);
}

.text-color-secondary {
    color: var(--text-secondary);
}

body {
    background-color: var(--bg-background);
    color: var(--text-primary);
    overflow-x: hidden;
}

nav {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.6s ease-in;
    z-index: 100;
}

.navbar-main {
    z-index: 102;
}

.navbar-visible {
    transform: translateY(0);
    opacity: 1;
}

.nav-link {
    color: var(--text-secondary);
}

.nav-link-active {
    color: var(--text-primary);
}

.nav-link:hover {
    transform: scale(1.1);
    color: var(--text-primary);
}

.logo {
    width: 120px;
}

.navbar-info .bi {
    font-size: 24px;
    cursor: pointer;
}

.nav-user {
    text-decoration: none;
}

.nav-profile-pic {
    width: 40px;
}

.navbar-burger-btn {
    border: none;
    background-color: var(--bg-background);
    width: 40px;
    height: 40px;
}

#burger-icon {
    color: var(--text-secondary);
    font-size: 36px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -150%;
    transition: all 0.7s ease-in;
    width: 100%;
    height: 100dvh;
    background-color: var(--bg-background);
    z-index: 101;
}

.mobile-menu-active {
    right: 0;
}

.mobile-menu .nav-link {
    font-size: 26px;
}

header {
    opacity: 0;
    transform: translateX(100%);
}

.header-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s ease-in;
}

.btn-genres {
    color: var(--text-primary);
    border: solid 1px var(--text-primary);
    border-radius: 0;
    background-color: #000000;
}

.btn-genres:hover {
    background-color: var(--text-primary);
    color: var(--bg-background);
}

.btn-views {
    border: solid 1px var(--text-secondary);
    border-radius: 0;
    padding: 0.2rem 1rem;
}

.btn-views-active {
    border: solid 1px var(--text-primary);
}

section {
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 300px;
}

.section-visible {
    opacity: 1;
}

.movie-card {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.movie-card-content {
    pointer-events: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1rem;
    width: 100%;
    padding: 0.6rem 0.6rem 0;
    background-color: var(--bg-background);
    color: #fff;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.card-btn {
    width: 28px;
    height: 28px;
    border: solid 1px #fcfcfc;
    border-radius: 50%;
    background-color: var(--bg-background);
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn .bi {
    font-size: 16px;
}

.play-btn {
    background-color: #fcfcfc;
    color: #000000;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.card-info p {
    font-size: 12px;
}

.pegi {
    border: solid 1px #fcfcfc;
    font-size: 8px;
    border-radius: 5%;
}

.card-info i {
    font-size: 16px;
}

.card-genre p {
    font-size: 11px;
}

.swiper {
    overflow: visible;
}

.swiper-wrapper {
    overflow: visible;
}

.swiper-slide:hover {
    z-index: 100;
}

.swiper-slide:hover .movie-card-content {
    display: flex;
    transform: translateY(0);
}

.swiper-slide:hover .movie-card {
    transform: scale(1.1) translateY(-15%);
    clip-path: inset(-10% -10% -10% -10%);
    -webkit-box-shadow: 0px 0px 16px 4px rgb(116, 116, 116);
    -moz-box-shadow: 0px 0px 16px 4px rgb(116, 116, 116);
    box-shadow: 0px 0px 16px 4px rgb(116, 116, 116);
}

.social-icons .bi {
    font-size: 24px;
}

.icon-social:hover {
    transform: scale(1.1);
}

.footer-section {
    font-size: 14px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
}

.footer-visible {
    opacity: 1;
    transform: translateX(0);
}

.footer-btn {
    border: solid 1px var(--text-secondary);
    border-radius: 0;
    font-size: 14px;
}

.footer-btn:hover {
    background-color: var(--text-secondary);
    color: var(--bg-background);
}


@media (min-width: 640px) and (max-width: 686px) {
    .card-btn {
        width: 22px;
        height: 22px;
    }

    .card-btn .bi {
        font-size: 12px;
    }

    .play-btn {
        background-color: #fcfcfc;
        color: #000000;
    }
}

@media (min-width: 992px) and (max-width: 1000px) {
    .card-btn {
        width: 22px;
        height: 22px;
    }

    .card-btn .bi {
        font-size: 12px;
    }

    .play-btn {
        background-color: #fcfcfc;
        color: #000000;
    }
}